        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
          
            <script>
                $('document').ready(function() {
                    $('#tblbeneficiaries').DataTable({
                        "language": {
                            "lengthMenu": "Mostrando _MENU_ registros por página",
                            "zeroRecords": "Não há registros encontrados",
                            "info": "Mostrando página _PAGE_ de _PAGES_",
                            "infoEmpty": "Não há informações",
                            "infoFiltered": "(filtrando de _MAX_ registros)"
                        }
                    });
                });
            </script>
            
            <script>
                $('.mask_rg').mask('00.000.000-AA');
                 $('.mask_cpf').mask('000.000.000-AA');
                $('.mask_tel').mask('(00) 0000-0000');
                $('.mask_cep').mask('(000.00-000');
            </script>

<%- model_class = Beneficiary -%>

  <div class="page-header">
    <h1>
      Beneficiários
    </h1>
  </div>
  <br>
  <div class="table-responsive">
    <table id="tblbeneficiaries" class="table table-bor table-striped table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>
            <%= model_class.human_attribute_name(:id) %>
          </th>
          <th>
            Projeto
          </th>
          <th>
            Nome
          </th>
          <th>
            RG
          </th>
          <th>
            CPF
          </th>
          <th>
            Telefone
          </th>
          
          <th>
            <%=t '.actions', :default => t("helpers.actions") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @beneficiaries.each do |beneficiary| %>
          <tr>
            <td>
              <%= link_to beneficiary.id, beneficiary_path(beneficiary) %>
            </td>
            <td>
              <%= beneficiary.projeto %>
            </td>
            <td>
              <%= beneficiary.nome %>
            </td>
            <td>
              <%= beneficiary.rg %>
            </td>
            <td>
              <%= beneficiary.cpf %>
            </td>
            <td>
              <%= beneficiary.telefone %>
            </td>

            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_beneficiary_path(beneficiary), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                      beneficiary_path(beneficiary), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      beneficiary_path(beneficiary),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_beneficiary_path,
            :class => 'btn btn-success btn-lg' %>





    <br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>