
<p id="notice"><%= notice %></p>

<p>
  <strong>Projeto</strong>
  <%= @beneficiary.projeto %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @beneficiary.nome %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @beneficiary.dataNasc %>
</p>

<p>
  <strong>Estadocivil:</strong>
  <%= @beneficiary.estadoCivil %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @beneficiary.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @beneficiary.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @beneficiary.telefone %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @beneficiary.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @beneficiary.bairro %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @beneficiary.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @beneficiary.pais %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @beneficiary.cep %>
</p>

<p>
  <strong>Menor:</strong>
  <%= @beneficiary.menor %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @beneficiary.responsavel %>
</p>

<%= link_to 'Edit', edit_beneficiary_path(@beneficiary) %> |
<%= link_to 'Back', beneficiaries_path %>

<br>
<br>
<br>
<br>