<br>
  
  
<ol class="breadcrumb">
  <li>
  <%= link_to 'Projetos', projetos_path, class:"btn btn-link" %>
  </li>  
  
  <li class="active"> Custo: <%= @custo.tipo %> </li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @custo.tipo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @custo.descricao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @custo.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @custo.valor %>
</p>

<%= link_to 'Editar', edit_custo_path(@custo) %> |

<%= link_to 'Listagem', custos_path %>
