<%= form_for(projeto) do |f| %>
  <% if projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ProjetoID %>
    <%= f.number_field :ProjetoID %>
  </div>

  <div class="field">
    <%= f.label :Status %>
    <%= f.text_field :Status %>
  </div>

  <div class="field">
    <%= f.label :Projeto %>
    <%= f.text_field :Projeto %>
  </div>

  <div class="field">
    <%= f.label :Tipo %>
    <%= f.text_field :Tipo %>
  </div>

  <div class="field">
    <%= f.label :Area %>
    <%= f.text_field :Area %>
  </div>

  <div class="field">
    <%= f.label :DataInicio %>
    <%= f.date_select :DataInicio %>
  </div>

  <div class="field">
    <%= f.label :DataFim %>
    <%= f.date_select :DataFim %>
  </div>

  <div class="field">
    <%= f.label :OngNumero %>
    <%= f.number_field :OngNumero %>
  </div>

  <div class="field">
    <%= f.label :Ong %>
    <%= f.number_field :Ong %>
  </div>

  <div class="field">
    <%= f.label :RespNumero %>
    <%= f.number_field :RespNumero %>
  </div>

  <div class="field">
    <%= f.label :RespNome %>
    <%= f.text_field :RespNome %>
  </div>

  <div class="field">
    <%= f.label :DescricaoProjeto %>
    <%= f.text_field :DescricaoProjeto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
