<p id="notice"><%= notice %></p>

<h1>Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Projetoid</th>
      <th>Status</th>
      <th>Projeto</th>
      <th>Tipo</th>
      <th>Area</th>
      <th>Datainicio</th>
      <th>Datafim</th>
      <th>Ongnumero</th>
      <th>Ong</th>
      <th>Respnumero</th>
      <th>Respnome</th>
      <th>Descricaoprojeto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projetos.each do |projeto| %>
      <tr>
        <%= link_to projeto.id, projeto_path(projeto) %>
        <td><%= projeto.Projeto %></td>
        <td><%= projeto.Status %></td>
        <td><%= projeto.Projeto %></td>
        <td><%= projeto.Tipo %></td>
        <td><%= projeto.Area %></td>
        <td><%= projeto.DataInicio %></td>
        <td><%= projeto.DataFim %></td>
        <td><%= projeto.OngNumero %></td>
        <td><%= projeto.Ong %></td>
        <td><%= projeto.RespNumero %></td>
        <td><%= projeto.RespNome %></td>
        <td><%= projeto.DescricaoProjeto %></td>
        <td><%= link_to 'Show', projeto %></td>
        <td><%= link_to 'Edit', edit_projeto_path(projeto) %></td>
        <td><%= link_to 'Destroy', projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projeto', new_projeto_path %>
