<p id="notice"><%= notice %></p>


<p>
  <strong>Status:</strong>
  <%= @projeto.Status %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @projeto.Projeto %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @projeto.Tipo %>
</p>

<p>
  <strong>Area:</strong>
  <%= @projeto.Area %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @projeto.DataInicio %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= @projeto.DataFim %>
</p>

<p>
  <strong>Ongnumero:</strong>
  <%= @projeto.OngNumero %>
</p>

<p>
  <strong>Ong:</strong>
  <%= @projeto.Ong %>
</p>

<p>
  <strong>Respnumero:</strong>
  <%= @projeto.RespNumero %>
</p>

<p>
  <strong>Respnome:</strong>
  <%= @projeto.RespNome %>
</p>

<p>
  <strong>Descricaoprojeto:</strong>
  <%= @projeto.DescricaoProjeto %>
</p>

<%= link_to 'Edit', edit_projeto_path(@projeto), class:"btn btn-default" %> |
<%= link_to 'Back', projetos_path, class:"btn btn-default" %>
