<p id="notice"><%= notice %></p>

<h1>Atividades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Atividade</th>
      <th>Situacao</th>
      <th>Projeto</th>
      <th>Projetoid</th>
      <th>Atuacao</th>
      <th>Custo</th>
      <th>Datainicio</th>
      <th>Datefim</th>
      <th>Cargahoras</th>
      <th>Responsavelid</th>
      <th>Responsavelnome</th>
      <th>Decricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.atividade %></td>
        <td><%= atividade.situacao %></td>
        <td><%= atividade.projeto %></td>
        <td><%= atividade.projetoid %></td>
        <td><%= atividade.atuacao %></td>
        <td><%= atividade.custo %></td>
        <td><%= atividade.datainicio.strftime("%d/%m/%y") %></td>
        <td><%= atividade.datefim.strftime("%d/%m/%y") %></td>
        <td><%= atividade.cargahoras %></td>
        <td><%= atividade.responsavelid %></td>
        <td><%= atividade.responsavelnome %></td>
        <td><%= atividade.decricao %></td>
        <td><%= link_to 'Show', atividade %></td>
        <td><%= link_to 'Edit', edit_atividade_path(atividade) %></td>
        <td><%= link_to 'Destroy', atividade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atividade', new_atividade_path %>
