<p id="notice"><%= notice %></p>

<p>
  <strong>Atividade:</strong>
  <%= @atividade.atividade %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @atividade.situacao %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @atividade.projeto %>
</p>

<p>
  <strong>Projetoid:</strong>
  <%= @atividade.projetoid %>
</p>

<p>
  <strong>Atucao:</strong>
  <%= @atividade.atucao %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @atividade.custo %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= @atividade.datainicio %>
</p>

<p>
  <strong>Datefim:</strong>
  <%= @atividade.datefim %>
</p>

<p>
  <strong>Cargahoras:</strong>
  <%= @atividade.cargahoras %>
</p>

<p>
  <strong>Responsavelid:</strong>
  <%= @atividade.responsavelid %>
</p>

<p>
  <strong>Responsavelnome:</strong>
  <%= @atividade.responsavelnome %>
</p>

<p>
  <strong>Decricao:</strong>
  <%= @atividade.decricao %>
</p>

<%= link_to 'Edit', edit_atividade_path(@atividade) %> |
<%= link_to 'Back', atividades_path %>
