<p id="notice"><%= notice %></p>

<h1>Doações</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Doador</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Pago</th>
      <th>Forma</th>
      <th>Descricao</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacaos.each do |doacao| %>
      <tr>
        <td><%= doacao.data %></td>
        <td><%= doacao.doador.nome %></td>
        <td><%= doacao.tipo %></td>
        <td><%= doacao.valor %></td>
        <td><%= doacao.pago %></td>
        <td><%= doacao.forma %></td>
        <td><%= doacao.descricao %></td>
        <td><%= doacao.observacao %></td>
        <td><%= link_to 'Show', doacao %></td>
        <td><%= link_to 'Edit', edit_doacao_path(doacao) %></td>
        <td><%= link_to 'Destroy', doacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Doação', new_doacao_path %>
