<b ALIGN=CENTER> <h1>Detalhes da Doação</h1> </b>

<p>
  <strong>Data:</strong>
  <%= @doacao.data %>
</p>

<p>
  <strong>Doador:</strong>
  <%= @doacao.doador.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @doacao.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @doacao.valor %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @doacao.pago %>
</p>

<p>
  <strong>Forma:</strong>
  <%= @doacao.forma %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @doacao.descricao %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @doacao.observacao %>
</p>

<br> </br>

<div class="col-sm-3">
  <b> <%= link_to 'Editar', edit_doacao_path(@doacao), class: 'btn btn-default' %> | <%= link_to 'Voltar', doacaos_path, class: 'btn btn-default' %> <b> 
</div>
    
<br> </br>
  

