<div class="container">
  <div class="row m-bt-30">
    <div class="col-xs-12 col-sm-12">
      <div class="pull-right">
        <%= link_to raw('<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Adicionar Usuário</button>'), new_usuario_path,
                                {'title':'Adicionar Usuário'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= form_tag usuarios_path, method: 'get', enforce_utf8: false do %>
      <div class="table-responsive">
        <table class="table table-hover table-vert-align">
          <thead class="thead-default">
            <tr>
              <th class="col-xs-12 col-sm-4">Nome</th>
              <th class="col-xs-12 col-sm-4">E-mail</th>
              <th class="col-xs-12 col-sm-2">Telefone</th>
              <th class="col-xs-12 col-sm-2">Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= text_field_tag :nome, params[:nome], class: 'form-control' %></td>
              <td><%= text_field_tag :email, params[:email], class: 'form-control' %></td>
              <td><%= text_field_tag :telefone, params[:telefone], class: 'form-control', type: 'tel' %></td>
              <td>
                <button id="pesquisar" type="submit" class="btn btn-default" data-placement="bottom" name="submit"><i class="glyphicon glyphicon-search"></i> Pesquisar</button></td>
            </tr>
            <% @usuarios.each do |usuario| %>
              <tr>
                <td><%= usuario.nome %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.telefone %></td>
                <td><%= link_to raw('<span class="glyphicon glyphicon-search"></span>'), usuario, {class: 'btn btn-default', title: 'Consultar',  'data-placement': 'bottom', 'role': 'button'} %>
                  <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_usuario_path(usuario), {class: 'btn btn-default', title: 'Alterar',  'data-placement': 'bottom', 'role': 'button'} %> <%= link_to raw('<span class="glyphicon glyphicon-remove-sign"></span>'), usuario, {class: 'btn btn-default', title: 'Remover',  'data-placement': 'bottom', 'role': 'button', method: :delete, data: { confirm: 'Tem certeza que deseja excluir o usuário?' }} %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right"><%= page_entries_info @posts %></div>
    </div>
    <div class="col-xs-12">
      <div class="pull-right"> <%= will_paginate @usuarios, renderer: BootstrapPagination::Rails %>
        <div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(ready);
                  $(document).on('page:load', ready);
    </script>