<div class="container">
  <div class="row m-bt-30">
    <div class="col-xs-12">
      <h1>Alteração de Senha</h1>
    </div>
  </div>
  <%= form_for @usuario, url: usuarios_patch_senha_url, method: :patch do |usuario_form| %>
    <% if @usuario.errors.any? %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div id="error_explanation">
              <h4><%= pluralize(@usuario.errors.count, "erro") %> impediram a criação do usuário:</h4>
              <ul>
                <% console %>
                <% @usuario.errors.messages.each do |campo,mensagem| %>
                  <li><%= mensagem[0] %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="usuario_email">Senha Antiga *</label>
          <%= usuario_form.text_field :old_password, class: 'form-control', required: true, type: 'password' %>
          <span class="help-block">Sua senha antiga, utilizada para logar no sistema.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="usuario_nome">Senha Nova *</label>
          <%= usuario_form.text_field :password, class: 'form-control', required: true, type: 'password' %>
          <span class="help-block">Sua senha nova.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label for="usuario_cidade">Confirmação de Senha *</label>
          <%= usuario_form.text_field :password_confirmation, class: 'form-control', required: true, type: 'password' %>
          <span class="help-block">Repita a nova senha para confirmação.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 m-b-30">
        <div class="pull-right">
          <%= button_tag type: :submit, class: 'btn btn-success', :id => 'alterar' do %>
            <i class="glyphicon glyphicon-ok"></i> Alterar 
            <% end %>
          <%= link_to raw('<span class="glyphicon glyphicon-remove-sign"></span> Cancelar'), usuarios_path, {class: 'btn btn-default', 'role': 'button'} %>
        </div>
      </div>
    </div>
  <% end %>
</div>