<div class="container">
  <div class="row m-bt-30">
    <div class="col-xs-12">
      <h1>Exibição do usuário: <%= @usuario.id %></h1>
    </div>
  </div>
  <div class="row" id="divExibeUsu">
    <div class="col-sm-12 col-md-12">
      <label for="usuario_email">E-mail </label>
      <%= @usuario.email %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="usuario_nome">Nome </label>
      <%= @usuario.nome %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="usuario_nome">Ocultar o nome?</label> <%= @usuario.ocultar %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="userEmail">Endereço</label>
      <%= @usuario.endereco %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="userEmail">Telefone</label>
      <%= @usuario.telefone %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="usuario_estado">Estado</label>
      <%= @usuario.estado %>
    </div>
    <div class="col-sm-12 col-md-12">
      <label for="usuario_cidade">Cidade</label>
      <%= @usuario.cidade %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 m-t-15">
      <%= link_to raw('Alterar <span class="glyphicon glyphicon-pencil"></span>'), edit_usuario_path(@usuario), {class: 'btn btn-default', 'role': 'button'} %>
      <%= link_to raw('Voltar <span class="glyphicon glyphicon-arrow-left"></span>'), usuarios_path, {class: 'btn btn-default', 'role': 'button'} %>
    </div>
  </div>
</div>