<%= form_for(doador) do |f| %>
  <% if doador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doador.errors.count, "error") %> prohibited this doador from being saved:</h2>

      <ul>
      <% doador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form class="user-form form-horizontal" role="form">
    
  <br>

  <div class="field form-group">
    <%= f.label "Nome", :class => 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :nome, :size => 20, :class => 'form-control' , required: true %>
    </div>
  </div>
  
  <br> </br>

  <div class="field form-group">
    <%= f.label "Endereço", :class =>  'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :endereco, :size => 20, :class =>  'form-control', required: true %>
    </div>
  </div>

  <br> </br>

  <div class="field form-group">
    <%= f.label "Telefone", :class =>  'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :telefone, required: true, placeholder: 'XX.XXX.XXX.XXX', :data => {:mask=> '99-9999-9999'} %>
    </div>
  </div>
  
  <br> </br>

  <div class="field form-group">
    <%= f.label "Frequencia de contribuição", :class =>  'control-label col-sm-3' %>
    <div class="col-sm-15">
      <%= f.select :frequencia, ['mensal', 'semanal', 'doacao única', 'anual'], :class =>  'form-control'  %>
    </div>
  </div>

  <div class="field form group">
    <%= f.label "Forma de doação", :class =>  'control-label col-sm-3' %>
    <div class="col-sm-15">
      <%= f.select :forma, ['boleto', 'cartao de credito', 'debito automático', 'dinheiro'] %>
    </div>
  </div>

  <br>

  <div class="field form group">
    <%= f.label "Data da primeira doação", :class => 'control-label col-sm-3' %>
    <div class="col-sm-20">
      <%= f.date_field :data %>
    </div>
  </div>
  
  <br>

  <div class="actions text-center">
    <b>
    <div class=" col-sm-offset-3 col-sm-2">
      <p>
        <%= button_tag "Limpar", type: :reset %>
      </p>
    </div>
    <div class="col-sm-3">
      <p>
        <%= f.submit "Criar Doador"%>
      </p>
    </div>
    </b>
  </div>
  
  <%= hidden_field_tag 'step_commit', '' %>
  <span style="float:left;">
    <br>
    <br>

  </span>
</form>
<% end %>



