<%- model_class = Doador -%>

<%= form_tag(doadors_path, :method => :get) do %>
<%= text_field_tag 'search', nil, placeholder: "Nome completo do Doador" %>
<%= submit_tag "Buscar" %>
<% end %>

  <div class="page-header">
    <h1>
      Doadores
    </h1>
  </div>
<br>
  <div class="table-responsive">
     <table id="tbldoadors" class="table table-bor table-striped table-hover" cellspacing="0" width="100%">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Frequência Contribuição</th>
            <th>Forma Doação</th>
            <th>Data 1a. Doação</th>
            <th colspan="3"></th>
        </tr>
      </thead>

  <tbody>
    <% @doadors.each do |doador| %>
      <tr>
        <td><%= doador.nome %></td>
        <td><%= doador.endereco %></td>
        <td><%= doador.telefone %></td>
        <td><%= doador.frequencia %></td>
        <td><%= doador.forma %></td>
        <td><%= doador.data %></td>
        <td><%= link_to 'Mostrar', doador, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_doador_path(doador),  class: "btn btn-warning" %></td>
        <td><%= link_to 'Deletar', doador,  class: "btn btn-danger", method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= will_paginate @doadors %>

<br>
   <div class="col-md-12">
      <span class="pull-right">
        <%= link_to 'Novo Doador', new_doador_path, class:"btn btn-success" %>  
      </span> 
    </div>

<br>
<br>
<br>
