<b ALIGN=CENTER> <h1>Detalhes do Doador</h1> </b>

<p>
  <strong>Nome:</strong>
  <%= @doador.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @doador.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @doador.telefone %>
</p>

<p>
  <strong>Frequencia:</strong>
  <%= @doador.frequencia %>
</p>

<p>
  <strong>Forma:</strong>
  <%= @doador.forma %>
</p>

<p>
  <strong>Data:</strong>
  <%= @doador.data %>
</p>

    <div class="col-sm-3">
        <b> <%= link_to 'Editar', edit_doador_path(@doador), class: 'btn btn-default' %> | <%= link_to 'Voltar', doadors_path, class: 'btn btn-default' %> <b>
    </div>
    
<br> </br>

