<!DOCTYPE html>
<html>
  <head>
    <title>ONG Ágil</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap completo-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/<%= fontawesome_version %>/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  </head>
  <body>
    <!-- ========= Nav Bar (Menu) ========== -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ONG Ágil</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ONG<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="#">Atividades</a></li>
                <li><a href="#">Doações</a></li>
                <li><a href="/recebimentos">Recebimentos</a></li>
                <li><a href="/beneficiaries">Beneficiários</a></li>
                <li><a href="/doadors">Doadores</a></li>
                <li><a href="/ongs">ONGs</a></li>
                <li><a href="#">Chat Box</a></li>
              </ul>
            </li>
            <% if (logged_in?) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nome.split.first %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Alterar Cadastro', edit_usuario_path(current_user), method: :get %></li>
                  <li><%= link_to 'Alterar Senha', usuarios_senha_url, method: :get %></li>
                  <li><%= link_to 'Sair', logout_url, method: :delete %></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Administrador</li>
                  <li><%= link_to 'Listar Usuários', usuarios_url %></li>
                </ul>
              </li>
            <% else %>
              <li><<%= link_to 'Entrar', login_url, method: :get %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ========= Nav Bar End (Menu) ========== -->
    <!-- ========= System Messages ========== -->
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> fade in" role="alert">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
    <!-- ========= System Messages End ========== -->
    <!-- ========= Page Content ========== -->
    <%= yield %>
    <!-- ========= Page Content End ========== -->
    <footer>
    </footer>
    <!-- ========= Lazy load for javascript content ========== -->
    <script src="https://code.jquery.com/ui/<%= jqueryui_version %>/jquery-ui.min.js"></script>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/"+bootstrap_version+"/js/bootstrap.min.js", 
    "data-turbolinks-eval" => false %>
    <!-- ========= Lazy load for javascript content END ========== -->
  </body>
</html>
<!-- scripts -->
<!-- Latest compiled and minified JavaScript -->
<!-- 
        Comentado por JEAN ,favor aplicar os scripts específicos da página de beneficiarios na página específica e não no layout geral.
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
            <script>
                $('document').ready(function() {
                    $('#tblbeneficiaries').DataTable({
                        "language": {
                            "lengthMenu": "Mostrando _MENU_ registros por página",
                            "zeroRecords": "Não há registros encontrados",
                            "info": "Mostrando página _PAGE_ de _PAGES_",
                            "infoEmpty": "Não há informações",
                            "infoFiltered": "(filtrando de _MAX_ registros)"
                        }
                    });
                });
            </script>
            <script>
                // define as mascaras para os campos 
                $('.mask_rg').mask('00.000.000-AA');
                $('.mask_tel').mask('(00) 0000-0000');
            </script>
            -->
<!-- /scripts -->